.card {
  width: 700px;
  height: 300px;
  background-image: linear-gradient(to right, #28c6fa, #8ebbca); 
  margin: 50px auto;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  padding: 0px; 
}
.readMore {
  color: #e40b0b; 
  font-weight: 0.1; 
  margin-left:5px; 
  font-size: 15px;
 
}
.topCard {
  padding: 20px; 
  width: 100%;
  height: 75%;
}
a {
  text-decoration: none; 
  color: inherit;
}
.dawnCard {
  width: 100%;
  height: 25%;
  background-image: linear-gradient(to right, #90cbdd, #25404a); 
  padding: 10px;
  display: flex; 
  justify-content: space-between; 
}

.topcardtex {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px;
  padding-top: 30px;
}

.fileLink {
  color: #007bff; 
  text-decoration: none; 
}

.fileLink:hover {
  text-decoration: underline;
}

.dawncardusername {
  font-size: 0.9rem;
  color: #fff;
  padding: 10px 0;
}

.dawncardDate {
  font-size: 0.8rem;
  color: #fff;
  padding: 5px 0;
}


@media (max-width: 768px) {
  .card {
    width: 300px; 
  }

  h1 {
    margin-bottom: 20px;
    font-size: 20px;
  }
}
