.deleteButton {
  background-color: #ff4c4c;
  width: 150px;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  align-self: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
a {
    text-decoration: none; 
    color: inherit;
  }

.deleteButton:hover {
  background-color: #ff1a1a;
  font-size: 1.2rem;
}

.card {
  width: 400px;
  height: 400px;
  background-image: linear-gradient(to right, #28c6fa, #5abdde); /* Bright blue gradient */
  margin: 50px auto;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.topCard {
  width: 100%;
  height: 75%;
}

.dawnCard {
  width: 100%;
  height: 25%;
  background-image: linear-gradient(to right, #90cbdd, #99def8); 
  padding: 10px;
}

.topcardtex {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 20px;
  padding-top: 90px;
}

.dawncardusername {
  font-size: 0.9rem;
  color: #fff;
  padding: 10px 0;
}

.dawncardDate {
  font-size: 0.8rem;
  color: #fff;
  padding: 5px 0;
}

.dawncardDate span {
  margin: 0 5px;
}
.card:hover {
    transition: all 0.3s ease-in-out;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }

/* Responsive Design */
@media (max-width: 768px) {
  .card {
    width: 300px;
    height: 200px;
    background-color: #ae7b7b;
  }

  h1 {
    margin-bottom: 20px;
    font-size: 20px;
  }
}
