.card2 {
  width: 700px;
  height: 300px;
  background-image: linear-gradient(to right, #28c6fa, #5abdde); 
  margin: 50px auto;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.topCard2 {
  padding: 20px; 
  width: 100%;
  height: 75%;
}
.dawnCard2 {
  display: flex; 
  justify-content: space-between; 
  padding: 10px;
  height: 25%;
  background-image: linear-gradient(to right, #90cbdd, #73b5ce); 
}

.fileTitle2 {
  font-size: 24px; 
  font-weight: bold;
  margin-bottom: 10px; 
}.fileLink2 {
  color: #007bff; 
  text-decoration: none; 
}
.fileLink2:hover {
  text-decoration: underline; 
}
.fileDescription2 {
  font-size: 16px; 
  margin: 10px 0;
}
.fileUsername2 {
  font-size: 14px; 
  color: #fff;
}
.fileDate2 {
  font-size: 12px; 
  color: #fff;
}
.deleteButton2 {
  background-color: #ff4c4c;
  width: 150px;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  font-size: 16px; 
  cursor: pointer;
  align-self: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.deleteButton22 {
  background-color: #ffc800;
  width: 150px;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  font-size: 16px; 
  cursor: pointer;
  align-self: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.deleteButton2:hover {
  background-color: #ff1a1a;
  font-size: 18px; 
}

.deleteButton22:hover {
  background-color: #e0a500; 
}
@media (max-width: 768px) {
  .card2 {
    width: 100%; 
    height: auto; 
  }

  .fileTitle2 {
    font-size: 20px; 
  }

  .fileDescription2 {
    font-size: 14px; 
  }

.fileUsername2, .fileDate2 {
    font-size: 12px; 
  }
.deleteButton2,
  .deleteButton22 {
    font-size: 14px; 
    padding: 10px; 
  }
}
@media (max-width: 480px) {
  .fileTitle2 {
    font-size: 18px; 
  }

  .fileDescription2 {
    font-size: 12px; 
  }

  .fileUsername2, .fileDate2 {
    font-size: 10px; 
  }

  .deleteButton2,
  .deleteButton22 {
    font-size: 12px; 
  }
}
