.signMain2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
     height: 500px;
    width: 350px; 
    margin: auto;
    background-color: whitesmoke;
    border-radius: 10px;
    gap: 20px;
    margin-bottom: 60px;
    margin-top: 60px;
    padding-bottom: 30px;
}

.signMain h1{
    font-weight: normal;
}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 40vh;
    width: 70vh;
    gap: 20px;
}

.inputs label{
    font-weight:bold;
    font-size: 14px;
}
.logintxt{
    font-size: 30px;
}

.inputs input{
    width: 65vh;
    height: 7vh;
    padding-left:10px;
    border-radius: 20px;
    border: 0;
}



.username{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.password{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.buttons button{
    height: 7vh;
    width: 65vh;
    border: 0;
    border-radius: 20px;
    font-size: 16px;    
    /* background-color: #00adef; */
    background-image: linear-gradient(to right,#2cc1fb, #0197d3);
    color: white;
}

.buttons button:hover{
    /* background-image: linear-gradient(to right,#ffffff, #dedede); */
    color: #aefffe;
    border: 2px solid #67c1e7;
}