.postmain {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
}


.postform {
    width: 100%;
    max-width: 800px;
    background-image: linear-gradient(to right,#ffffff, #0197d3);    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.postContener {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
