


/* =-----------event ----------------- */
.UpcomingEvents{
  background-color: rgb(255, 255, 255);
  width: 100%;
}

.channelButtonunadd {
  padding: 12px 25px;
  background-image: linear-gradient(to right, #aadbee, #64caf1);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-image 0.3s ease, transform 0.3s ease, font-size 0.3s ease;
  font-size: 1.2rem;
  color: #000000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  font-weight: bold;
  border-bottom: 2px solid black; /* Increased thickness for better visibility */
}

.channelButtonunadd:hover {
  background-image: linear-gradient(to right, #bfeafc, #7dd6f9);
  font-size: 1.2rem; /* Keep size consistent to prevent unwanted layout shifts */
  transform: scale(1.05);
}






/* Modal styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content1 {
  background-color: rgba(227, 217, 217, 0);
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  position: relative;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}



































