.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.user-profile h1 {
  font-size: 2rem;
  color: #2b2d42;
  margin-bottom: 10px;
}

.user-profile h2 {
  font-size: 1.5rem;
  color: #2b2d42;
  margin-bottom: 20px;
}

.user-profile p {
  font-size: 1rem;
  color: #2b2d42;
  margin-bottom: 20px;
}

.user-profile ul {
  list-style: none;
  padding: 0;
  width: 100%;
  max-width: 600px;
}

.user-profile li {
  background-color: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.user-profile li:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.user-profile a {
  text-decoration: none;
  color: #2b2d42;
  font-size: 1rem;
  font-weight: bold; /* Add this line to make the text bold */
  transition: color 0.3s ease;
}


.user-profile a:hover {
  color: #017bb3;
}

.user-profile .loading, .user-profile .error {
  font-size: 1.2rem;
  color: #ff0000;
  text-align: center;
}

@media (max-width: 768px) {
  .user-profile ul {
      max-width: 100%;
  }

  .user-profile h1, .user-profile h2 {
      text-align: center;
  }
}
